@import url("https://fonts.googleapis.com/css2? family= Dosis:wght@300;400;500 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
@font-face {
  font-family: "Le Murmure";
  src: url("../fonts/LeMurmure-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
}

a {
  color: rgb(56, 78, 132);
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

h1 {
  color: rgb(56, 78, 132);
  font-family: "Stick No Bills", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

h2 {
  color: rgb(56, 78, 132);
  font-family: "Stick No Bills", sans-serif;
  font-weight: 500;
  font-size: 2em;
}

h3 {
  color: rgb(24, 24, 24);
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

span {
  font-family: "Dosis", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: rgb(24, 24, 24);
}

p {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  color: rgb(24, 24, 24);
}

.primary-button, .destructive-button, .secondary-button {
  border-radius: 32px;
  border-color: transparent;
  background-color: rgb(56, 78, 132);
  color: rgb(250, 250, 250);
  height: 40px;
  width: 160px;
  padding-left: 16px;
  padding-right: 16px;
}
.primary-button:hover, .destructive-button:hover, .secondary-button:hover {
  background-color: rgb(67, 105, 199);
  cursor: pointer;
}

.secondary-button {
  border-color: rgb(56, 78, 132);
  background-color: rgb(250, 250, 250);
  color: rgb(56, 78, 132);
}
.secondary-button:hover {
  background-color: rgba(67, 105, 199, 0.1);
}

.destructive-button {
  background-color: rgb(250, 250, 250);
  border-color: rgb(230, 45, 45);
  color: rgb(230, 45, 45);
}
.destructive-button:hover {
  background-color: rgba(230, 45, 45, 0.1);
}

form {
  font-family: "Dosis", sans-serif;
  color: rgb(24, 24, 24);
}

label {
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  color: rgb(24, 24, 24);
}

nav {
  background-color: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(80px);
}
nav ul li {
  margin: 20px;
}
nav img {
  width: 120px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.custom-link {
  color: rgb(56, 78, 132);
  font-weight: 100;
}
.custom-link:hover {
  color: rgb(97, 180, 232);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 80px;
  padding-left: 80px;
  width: 100%;
}

.footer-text {
  color: rgb(250, 250, 250);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.contact-right {
  flex-direction: column;
  text-align: left;
  line-height: 2.1em;
}

.copyright {
  text-align: center;
}

.slogan {
  color: rgb(250, 250, 250);
  line-height: 1.8em;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2em;
}

.contact-title {
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
}

#bg-error {
  background-color: rgb(164, 208, 205);
}

.datos-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-error {
  font-size: 1em;
  font-family: "Dosis", sans-serif;
  color: rgb(56, 78, 132);
}

.btn-error {
  margin-top: 12px;
}

header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.titulo-header {
  position: absolute;
  top: 15%;
  left: 42%;
  font-size: 1em;
  font-weight: 100;
  font-family: "Dosis", sans-serif;
  color: rgb(56, 78, 132);
  z-index: 1;
}

.slogan-header {
  position: absolute;
  color: rgb(56, 78, 132);
  top: 23%;
  left: 10%;
  font-size: 21em;
  font-family: "Le Murmure", sans-serif;
  z-index: 1;
  text-align: center;
}

.img-bg {
  min-width: 100%;
  z-index: -100;
  position: absolute;
}

.text-header {
  text-align: left;
  line-height: 1.2em;
  font-size: 1em;
  width: 30%;
}

.floating-boys {
  width: 100%;
  position: absolute;
  top: 10%;
  z-index: -1;
}

.boybg-center {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 33%;
  width: 40%;
}

.text-and-button {
  position: absolute;
  top: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.titulo-ofertas {
  font-size: 3em;
}

.sale {
  background-color: rgb(250, 250, 250);
  text-align: center;
  padding: 100px 0;
  width: 100%;
  overflow: hidden;
}
.sale p {
  text-align: center;
  margin-bottom: 8px;
}
.sale h2 {
  padding: 24px;
  font-size: 3em;
  margin-bottom: 24px;
  font-weight: bold;
}

.sale-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sale-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding-bottom: 20px;
  border: solid;
  border-color: rgba(24, 24, 24, 0.1);
  cursor: default;
  transition: all 400ms ease;
}
.sale-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-color: none;
  transform: translateY(-3%);
}

.precio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.precio p {
  margin-right: 8px;
}

.title-collection {
  font-size: 2em;
}

.ultima-coleccion {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}
.ultima-coleccion div {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}
.ultima-coleccion p {
  line-height: 2em;
}

.autor {
  font-size: 0, 75em;
  text-align: right;
}

.subscribe {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(250, 250, 250);
}
.subscribe h3 {
  margin-bottom: 32px;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2em;
}

#email {
  width: 300px;
  height: 40px;
  padding: 0 8px;
}

.filtros-mobile {
  display: none;
}

.titulo-productos {
  margin-top: 120px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 25px;
}

.titulo-filtros {
  margin-bottom: 15px;
}

.filtros-mujer {
  margin-top: 25px;
}

.productos {
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr);
  grid-template-rows: repeat(2, 80vh);
  column-gap: 20px;
  padding-right: 24px;
  grid-template-areas: "filtros prod1 prod2 prod3" "filtros prod4 prod5 prod6";
}

.product-filter {
  grid-area: filtros;
}

.producto1 {
  grid-area: prod1;
}

.producto2 {
  grid-area: prod2;
}

.producto3 {
  grid-area: prod3;
}

.producto4 {
  grid-area: prod4;
}

.producto5 {
  grid-area: prod5;
}

.producto6 {
  grid-area: prod6;
}

.product-filter {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  padding-left: 25px;
  line-height: 2em;
  grid-area: filtros;
}
.product-filter ul li:hover {
  color: rgb(56, 78, 132);
}
.product-filter h3 {
  font-weight: bold;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border: solid;
  border-color: rgba(24, 24, 24, 0.1);
  cursor: default;
  margin-bottom: 16px;
}
.product-card a img {
  width: 100%;
  height: auto;
}
.product-card p {
  padding-left: 24px;
  margin-bottom: 8px;
}

ul li {
  list-style-type: none;
}

.detail {
  display: flex;
  height: 100vh;
}

.detail-titulo {
  margin-top: 120px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 25px;
}

.picture {
  display: flex;
  padding: 0 80px;
}
.picture img {
  width: 500px;
  height: auto;
}

.detail-two img {
  width: 100px;
  height: auto;
  padding: 4px;
  justify-items: end;
}

.text-detail {
  color: rgb(24, 24, 24);
  font-size: 1.5em;
  font-family: "Dosis", sans-serif;
}

.detail-content {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.detail-content div {
  margin-bottom: 16px;
}
.detail-content p {
  margin: 0;
}

.shop-titulo {
  margin-top: 120px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 25px;
}

.resumen {
  position: sticky;
  top: 120px;
}

hr {
  border: 1px solid rgba(24, 24, 24, 0.1);
}

.contenedor-bs {
  max-width: 600px;
}

.form-container {
  display: flex;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form1 {
  display: flex;
  justify-content: space-evenly;
}

.campos {
  display: flex;
  flex-direction: column;
}
.campos label {
  margin-bottom: 8px;
}

.titulo-checkout {
  margin-top: 120px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 25px;
}

.field {
  outline: none;
  margin-bottom: 24px;
  width: 400px;
  height: 32px;
}
.field:focus {
  border: 2px solid;
  border-color: rgb(56, 78, 132);
}

.buttons-parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-checkout {
  margin: 24px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.congrats {
  height: 100vh;
  position: relative;
}
.congrats img {
  max-width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.congrats p {
  font-size: 1em;
}

.text-congrats {
  font-weight: 200;
  font-size: 2em;
  padding: 20px 20px;
}

.feedback-congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 80px;
}
.feedback-congrats button {
  margin-top: 24px;
  margin-right: 0;
  margin-bottom: 24px;
  margin-left: 16px;
}

@media (max-width: 1023px) {
  .floating-boys {
    display: none;
  }
  .boybg-center {
    top: 20%;
    left: 20%;
    width: 60%;
  }
  .titulo-header {
    top: 8%;
    left: 35%;
  }
  .slogan-header {
    font-size: 18em;
    left: 0;
    top: 6%;
  }
  .text-header {
    font-size: 1em;
    width: 50%;
  }
  .ultima-coleccion {
    flex-direction: column;
  }
  .ultima-coleccion div {
    width: 100%;
    display: flex;
    padding: 0px 80px;
  }
  .ultima-coleccion h2 {
    padding-top: 24px;
    text-align: center;
  }
  .ultima-coleccion p {
    padding: 0 16px;
    line-height: 2em;
  }
  .ultima-coleccion button {
    width: 250px;
  }
  .collection-button {
    align-items: center;
  }
  .titulo-productos {
    font-size: 3em;
  }
  .productos {
    padding-left: 24px;
  }
  .titulo-filtros {
    display: none;
  }
  .filtros-hm {
    display: none;
  }
  .filtros-mobile {
    display: initial;
  }
  .product-filter {
    padding: 0;
  }
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5% repeat(3, 65vh);
    grid-template-areas: "filtros filtros" "prod1 prod2" "prod3 prod4" "prod5 prod6";
  }
  .filtros-mobile {
    grid-area: filtros;
  }
  .filtros-mobile div h3 {
    color: rgb(56, 78, 132);
    font-family: "Stick No Bills", sans-serif;
    font-size: 1.5em;
  }
  .filter-list {
    margin: 16px;
  }
  .filter-list h4 {
    color: rgb(56, 78, 132);
  }
  .filter-list ul li {
    margin-bottom: 8px;
    color: rgb(24, 24, 24);
  }
  .filter-list .btn-filter {
    width: 100%;
  }
  .filter-list .product-card {
    height: 600px;
  }
  .filter-list .detail {
    flex-direction: column;
  }
  .filter-list .detail-titulo {
    font-size: 3em;
  }
  .filter-list .picture img {
    width: 350px;
    height: auto;
  }
  .filter-list .detail-two img {
    width: 70px;
    height: auto;
    padding: 4px;
    justify-items: end;
  }
  .filter-list .detail-content {
    margin-left: 100px;
    margin-top: 32px;
    border-color: rgba(24, 24, 24, 0.1);
    border-radius: 4px;
    border-style: solid;
    padding: 24px;
    padding-bottom: 8px;
    width: 500px;
  }
  .filter-list .shop-titulo {
    font-size: 3em;
  }
  .filter-list .titulo-checkout {
    font-size: 3em;
  }
  .filter-list .form-container {
    width: 100%;
  }
  .filter-list .formulario {
    padding: 0 16px;
  }
  .filter-list .campos {
    width: 100%;
  }
  .filter-list .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .filter-list .field {
    width: 100%;
  }
  .filter-list .congrats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .filter-list .agradecimiento-img {
    display: none;
  }
  .filter-list .feedback-congrats {
    padding: 0;
    align-items: center;
  }
  .filter-list .feedback-congrats p {
    font-size: 1.5em;
  }
  .filter-list .feedback-congrats button {
    margin: 0;
    padding: 0;
    height: 48px;
    width: 250px;
  }
  .filter-list .text-congrats {
    text-align: center;
    font-size: 3em;
  }
}
@media (max-width: 600px) {
  .titulo-header {
    top: 10%;
    left: 20%;
  }
  .slogan-header {
    font-size: 8em;
    left: 0;
    top: 15%;
  }
  .boybg-center {
    display: none;
  }
  .text-and-button {
    flex-direction: column;
    width: 100%;
    top: 70%;
    padding: 0 40px;
  }
  .text-and-button button {
    width: 100%;
  }
  .text-header {
    text-align: left;
    line-height: 1.2em;
    width: 100%;
  }
  .sale {
    padding: 75px 0;
  }
  .sale p {
    text-align: center;
    margin-bottom: 4px;
  }
  .sale h2 {
    padding: 24px;
    font-size: 2em;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
  }
  .sale-conteiner {
    display: flex;
    padding-left: 20px;
    width: 100%;
    overflow-x: auto;
    justify-content: start;
  }
  .sale-conteiner::-webkit-scrollbar {
    display: none;
  }
  .sale-card {
    width: 350px;
    height: 400px;
    margin-right: 20px;
    padding: 0 8px;
  }
  .sale-card:hover {
    box-shadow: none;
    transform: translateY(0);
  }
  .ultima-coleccion div {
    padding: 0;
  }
  .subscribe {
    flex-direction: column;
    padding: 40px;
  }
  .subscribe input {
    width: 100%;
  }
  .subscribe h3 {
    font-size: 1.5em;
  }
  #email {
    height: 40px;
    padding: 0 8px;
    margin-bottom: 24px;
  }
  .titulo-productos {
    font-size: 2em;
  }
  .titulo-filtros {
    font-size: 1.5em;
  }
  .btn-filter {
    width: 100%;
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(6, 80vh);
    grid-template-areas: "filtros" "prod1" "prod2" "prod3" "prod4" "prod5" "prod6";
  }
  .product-card {
    height: auto;
  }
  .detail {
    padding: 0 20px;
    flex-direction: column;
  }
  .detail-titulo {
    font-size: 2em;
  }
  .contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
  }
  .picture {
    flex-direction: column;
  }
  .picture img {
    width: 100%;
  }
  .detail-content {
    margin-left: 20px;
    margin-top: 32px;
    border-style: none;
    width: 300px;
  }
  .shop-titulo {
    font-size: 2em;
  }
  .carrito {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .shop img {
    width: 150px;
    margin-right: 20px;
  }
  .item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    width: 50%;
    margin-right: 0;
  }
  .text-carrito {
    flex-direction: column;
    line-height: 2em;
  }
  .resumen {
    position: inherit;
  }
  .img-cardbs {
    width: 200px;
  }
  .contenedor-bs {
    max-width: 100%;
  }
  .tarjetas-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo-checkout {
    font-size: 2em;
  }
  .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .formulario {
    padding: 0 16px;
  }
  .form-container {
    width: 100%;
  }
  .campos {
    width: 100%;
  }
  .field {
    width: 100%;
  }
  .congrats {
    height: 100vh;
  }
  .text-congrats {
    font-size: 2em;
  }
  .agradecimiento-img {
    display: none;
  }
  .feedback-congrats p {
    font-size: 1em;
  }
  footer {
    padding: 40px 40px;
  }
  .footer-content {
    display: flex;
    justify-content: start;
    margin-bottom: 80px;
  }
  .slogan {
    display: none;
  }
  .contact-title {
    font-size: 1.5em;
  }
  .datos-error img {
    width: 100%;
  }
  .text-error {
    padding: 0 20px;
    text-align: center;
  }
  .btn-error {
    margin-top: 16px;
  }
}
@media (max-width: 320px) {
  .titulo-header {
    left: 9%;
    font-size: 0, 75em;
  }
  .slogan-header {
    font-size: 6em;
  }
  .text-header {
    font-size: 0.8em;
  }
  #email {
    width: 100%;
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(6, 80vh);
    grid-template-areas: "filtros" "prod1" "prod2" "prod3" "prod4" "prod5" "prod6";
  }
  .product-card {
    height: 500px;
  }
  .detail-content {
    width: 250px;
  }
  .picture {
    padding: 0 10px;
    flex-direction: row;
  }
  .picture img {
    width: 150px;
  }
  .detail-two img {
    width: 50px;
  }
  .contenedor-imagenes {
    flex-direction: column;
  }
  .button-checkout {
    margin-bottom: 24px;
    flex-direction: column-reverse;
    align-items: center;
    height: 100px;
    width: 400px;
  }
  .text-congrats {
    font-size: 1.5em;
  }
  .text-congrats button {
    width: 200px;
  }
  .feedback-congrats {
    padding-left: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
