@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@300;400;500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@font-face {
    font-family: 'Le Murmure';
    src: url('../fonts/LeMurmure-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 /* NAV */
 nav{
    background-color:rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(80px);
 }
 
    nav img{
        width: 120px;
    }

        nav ul li{
            margin: 20px;
        }

.navbar-toggler{
    border:none
}

    .navbar-toggler:focus{
        box-shadow: none;
    }

.custom-link{
    color: rgb(56, 78, 132);
    font-weight: 100;
}
    .custom-link:hover{
        color: rgb(97, 180, 232);
    }
/* NAV */

/* HEADER */
header{
    overflow: hidden;
    position: relative;
    height: 100vh;
}

    header h1{
        position: absolute;
        top: 33%;
        left: 10%;
        font-family: 'Le Murmure', sans-serif;
        font-size: 21em;
        z-index: 1;
        text-align: center;
    }

.img-bg {
    min-width: 100%;
    z-index: -100;
    position: absolute;
}

.text-header{
    text-align: left;
    line-height: 1.2em;
    font-size: 1em;
    width: 30%;
}

.floating-boys{
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: -1;
}


.boybg-center{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 33%;
    width: 40%;
}

.text-and-button{
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

/* HEADER */

/* GENERAL */
body{
    padding: 0;
    width: 100%;
    margin: 0;
}

a { 
    color: rgb(56, 78, 132); 
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

h1 {
    color: rgb(56,78,132);
    font-family: 'Stick No Bills', sans-serif;
    font-weight:bold;
    font-size: 3em;
}

h2{
    color: rgb(56,78,132);
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

h3{
    color: rgb(24,24,24);
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

span{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(24, 24, 24);
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: rgb(24, 24, 24);
}

.primary-button{
    border-radius: 32px;
    border-color: transparent;
    background-color: rgb(56, 78, 132);
    color: rgb(250, 250, 250);
    height: 40px;
    width: 160px;
    padding-left: 16px;
    padding-right: 16px;
}

    .primary-button:hover{
        background-color: rgb(67, 105, 199);
        cursor: pointer;
    }

.secondary-button{
    border-radius: 32px;
    background-color: rgb(250, 250, 250);
    border-color: rgb(56, 78, 132);
    color: rgb(56, 78, 132);
    height: 40px;
    width: 160px;
    padding-left: 16px;
    padding-right: 16px;
}

    .secondary-button:hover{
        background-color: rgba(67, 105, 199, 0.1);
        cursor: pointer;
    }

.destructive-button{
    border-radius: 32px;
    background-color: rgb(250, 250, 250);
    border-color: rgb(230, 45, 45);
    color: rgb(230, 45, 45);
    height: 40px;
    width: 160px;
    padding-left: 16px;
    padding-right: 16px;
}
    .destructive-button:hover{
        background-color: rgba(230, 45, 45, 0.1);
        cursor: pointer;
    }

form{
    font-family: 'Dosis', sans-serif;
    font-size: 300;
    color: rgb(24, 24, 24);
}

label{
    font-family: 'Dosis', sans-serif;
    font-size: 300;
    font-weight: 100;
    color: rgb(24, 24, 24);
}
/* GENERAL */

/* OFERTAS */
.sale{
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding: 100px 0;
    width: 100%;
    overflow: hidden;
}

    .sale p{
        text-align: center;
        margin-bottom: 8px;
    }

    .sale h2{
        padding: 24px;
        font-size: 3em;
        margin-bottom: 24px;
        font-weight: bold;
    }

.sale-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sale-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 4px;
    background-color: white;
    justify-content: center;
    padding-bottom: 20px;
    border: solid;
    border-color: rgba(24,24,24,0.1);
    cursor: default;
    transition: all 400ms ease;  
}

    .sale-card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        border-color: none;
        transform: translateY(-3%);
    }

.precio{
    display: flex;
    align-items: center;
    justify-content: center;
}

    .precio p{
        margin-right: 8px;
    }

/* OFERTAS */

/* ÚLTIMA COLECCIÓN */
.title-collection{
    font-size: 2em;
}
.ultima-coleccion{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}
    .ultima-coleccion div{
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
    }

    .ultima-coleccion p{
        line-height: 2em;
    }

.autor{
    font-size: 0.75em;
    text-align: right;
}

  /* SUBSCRIBIRSE */
.subscribe{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(250, 250, 250);
}

    .subscribe h3{
        margin-bottom: 32px;
        font-family: 'Stick No Bills';
        font-size: 2em;
    }


#email{
    width: 300px;
    height: 40px;
    padding: 0 8px;
}

  /* SUBSCRIBIRSE */

/* FILTROS PRODUCTOS */
.titulo-productos{
    margin-top: 120px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.titulo-filtros{
    margin-bottom: 15px;
}

.filtros-mujer{
    margin-top: 25px;
}

.productos{
    display: grid;
    grid-template-columns: 20% repeat(3,1fr);
    grid-template-rows: repeat(2,80vh);
    column-gap: 20px;
    padding-right: 24px;
    grid-template-areas:
    "filtros prod1 prod2 prod3"
    "filtros prod4 prod5 prod6";
}

.producto1{
    grid-area: prod1;
}

.producto2{
    grid-area: prod2;
}

.producto3{
    grid-area: prod3;
}

.producto4{
    grid-area: prod4;
}

.producto5{
    grid-area: prod5;
}

.producto6{
    grid-area: prod6;
}

.product-filter{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    padding-left: 25px;   
    line-height: 2em;
    grid-area: filtros;
}

    .product-filter ul li:hover{
        color: rgb(56, 78, 132)
    }

    .product-filter h3{
        font-weight: bold;
    }

.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    border-radius: 4px;
    background-color: white;
    justify-content: center;
    border: solid;
    border-color: rgba(24,24,24,0.1);
    cursor: default;
    margin-bottom: 16px;
}
    .product-card a img{
        width: 100%;
        height: auto;
    }

    .product-card p{
        padding-left: 24px;
        margin-bottom: 8px;
    }

ul li{
    list-style-type: none;
}

/* FILTROS PRODUCTOS */

/* DETALLE */
.detail{
    display: flex;
    height: 100vh;
}

.detail-titulo{
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: 16px;
}


.picture{
    display: flex;
    padding: 0 80px;
}

    .picture img{
        width: 500px;
        height: auto;
    }

.detail-two img{
    width: 100px;
    height: auto;
    padding: 4px;
    justify-items: end;
}


.text-detail{
    color: rgb(24, 24, 24);
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
}

.detail-content{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

    .detail-content div{
        margin-bottom: 16px;
    }

    .detail-content p{
        margin: 0;
    }
/* DETALLE */

/* CARRITO */

.shop-titulo{
    margin-bottom: 50px;
    margin-left: 45px;
    margin-top: 120px;
}


.resumen{
    position: sticky;
    top: 120px;
}


hr{
    border: 1px solid rgba(24, 24, 24, 0.2);
}

.contenedor-bs{
    max-width: 600px;
}

/* CARRITO */

/* CHECKOUT */

.form-container{
    display: flex;
    width: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form1{
    display: flex;
    justify-content: space-evenly;
}

.campos{
    display: flex;
    flex-direction: column;
}

    .campos label{
        margin-bottom: 8px;
    }

.titulo-checkout{
    margin-bottom: 50px;
    margin-left: 25px;
    margin-top: 120px;
}

.field{
    outline: none;
    margin-bottom: 24px;
    width: 400px;
    height: 32px;
}

    .field:focus{
        border: 2px solid;
        border-color: rgb(56, 78, 132);
    }

.buttons-parent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-checkout{
    margin: 24px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}                            
/* CHECKOUT */

/* AGRADECIMIENTO */
.congrats{
    height: 100vh;
}
    .congrats img{
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 2px;
        right: 0;
    }

    .congrats p{
        font-size: 1em;
    }
    
.text-congrats{
    font-weight: 200;
    font-size: 2em;
    padding: 20px 20px;
}

.feedback-congrats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    margin-left: 80px;
}

.feedback-congrats button{
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
}

/* AGRADECIMIENTO */

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    width: 100%;
}

.footer-text{
    color: rgb(250, 250, 250);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.contact-right{
    flex-direction: column;
    text-align: left;
    line-height: 2.1em;
}

.copyright{
    text-align: center;
}


.slogan{
    color: rgb(250, 250, 250);
    line-height: 1.8em;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.8em;
}

.contact-title{
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em
}

/* FOOTER */



/* EMPIEZA RESPONSIVE */
@media (max-width:1023px){
    /* HEADER */
    .floating-boys{
        display: none;
    }
    .boybg-center{
            top: 25%;
            left: 20%;
            width: 60%;
    }

    header h1{
        font-size: 18em;
        left: 0;
        top: 15%;
    }

    .text-header{
        font-size: 1em;
        width: 50%;
    }

    /* ULTIMA COLECCIÓN */
.ultima-coleccion{
    flex-direction: column;
}

    .ultima-coleccion div{
        width: 100%;
        display: flex;
        padding: 0px 80px;
    }

    .ultima-coleccion h2{
        padding-top: 24px;
        text-align: center;
    }

    .ultima-coleccion p{
        padding: 0 16px;
        line-height: 2em;
    }

    .ultima-coleccion button{
        width: 250px;
    }

.collection-button{
    align-items: center;
    }

/* CHECKOUT */
.form-container{
    width: 100%;
}

.formulario{
    padding: 0 16px;
}

.campos{
    width: 100%;
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}           

.field{
    width: 100%;
}

/* AGRADECIMIENTO */
.congrats{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agradecimiento-img{
    display: none;
}

.feedback-congrats{
    margin: 0;
    align-items: center;
}

.text-congrats{
    text-align: center;
}

.feedback-congrats button{
    margin: 0;
}
/* AGRADECIMIENTO */

}



@media (max-width: 600px){
    /* HEADER */

    header h1{
        font-size: 8em;
    }

    .boybg-center{
        display: none;
    }
    
    .text-and-button{
        flex-direction: column;
        width: 100%;
        top: 70%;
        padding: 0 40px;
    }

        .text-and-button button{
            width: 100%;
        }

    .text-header{
        text-align: left;
        line-height: 1.2em;
        width: 100%;
    }

    /* OFERTAS */
    .sale{
        padding: 75px 0;
    }

    .sale p{
        text-align: center;
        margin-bottom: 4px;
    }

    .sale h2{
        padding: 24px;
        font-size: 2em;
        margin-bottom: 16px;
        font-weight: bold;
        text-align: center;
    }

    .sale-conteiner{
        display: flex;
        padding-left: 40px;
        width: 100% ;
        overflow-x: auto;
        justify-content: start;
    }

        .sale-conteiner::-webkit-scrollbar{
            display: none;
        }
    

    .sale-card{
        width: 350px;
        height: 400px;
        margin-right: 20px;
        padding: 0 8px;
    }

        .sale-card:hover{
            box-shadow: none;
            transform: translateY(0);
        }

    /* ULTIMA COLECCIÓN */
        .ultima-coleccion div{
           padding: 0;
        }

    /* SUBSCRIPCION */
    .subscribe{
        flex-direction: column;
        padding: 40px;
    }
    
        .subscribe input{
            width: 100%;
        }
        
        .subscribe h3{
            font-size: 1.5em;
        }
    
    
    #email{
        height: 40px;
        padding: 0 8px;
        margin-bottom: 24px;
    }


    /* CARRITO */
    .carrito{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    
    
        .shop img{
            width: 150px;
            margin-right: 20px;
        }
    
    .item{
        display: inline-flex;
        align-items: center;
        margin-bottom: 40px;
        width: 50%;
        margin-right: 0;
    }
    
    .text-carrito{
        flex-direction: column;
        line-height: 2em;
    }
    
    .resumen{
        position: inherit;
    }

    .img-cardbs{
        width: 200px;
    }

    .contenedor-bs{
        max-width: 100%;

    }

    .tarjetas-shop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* CARRITO */

    /* AGRADECIMIENTO */

    .congrats{
        height: fit-content;
    }

    /* AGRADECIMIENTO */

    /* FOOTER */
    footer{
       padding: 40px 40px;
    }
    
    .footer-content{
        display: flex;
        justify-content: start;
        margin-bottom: 80px;
    }
    
    .slogan{
       display: none;
    }
    
    .contact-title{
        font-size: 1.3em
    }
    
}

@media (max-width:320px){
    /* HEADER */
    header h1{
        font-size: 6em;
    }

    .text-header{
        font-size: 0.8em;
    }
    
    /* HEADER */
   
    /* SUBSCRIPCION */
    #email{
        width: 100%;
    }
    
    /* CHECKOUT */
    .button-checkout{
        margin-bottom: 24px;
        flex-direction: column-reverse;
        align-items: center; 
        height: 100px;
        width: 400px;
       }
}

