// responsive   
        // MEDIA 1023PX
@media (max-width:1023px){
// header
.floating-boys{
    display: none;
}

.boybg-center{
        top: 20%;
        left: 20%;
        width: 60%;
}

.titulo-header{
    top: 8%;
    left: 35%;
}

.slogan-header{
    font-size: $textHighlightmd;
    left: 0;
    top: 6%;
}

.text-header{
    font-size: $textSm;
    width: 50%;
}

// ultima coleccion
.ultima-coleccion{
    flex-direction: column;
    div{
        width: 100%;
        display: flex;
        padding: 0px 80px;
    }
    h2{
        padding-top: 24px;
        text-align: center;
    }
    p{
        padding: 0 16px;
        line-height: 2em;
    }
    button{
        width: 250px;
    }
}

.collection-button{
    align-items: center;
    }

    // productos
.titulo-productos{
    font-size: $textXl;
}

.productos{
    padding-left: 24px;
}

.titulo-filtros{
display: none;
}

.filtros-hm{
    display: none;
}

.filtros-mobile{
    display: initial;
}

.product-filter{
    padding: 0;
}

.productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 5% repeat(3,65vh);
    grid-template-areas:
    "filtros filtros"
    "prod1 prod2"
    "prod3 prod4"
    "prod5 prod6";
}

.filtros-mobile{
    grid-area: filtros;
    div{
        h3{
            color: $mainColor;
            font-family: $titleFont;
            font-size: $textMd;
        }
    }
}

.filter-list{
    margin: 16px;
    h4{
        color: $mainColor;
    }
    ul{
        li{
            margin-bottom: 8px;
            color: $darkGray;
        }
    }

.btn-filter{
    width: 100%;
}

.product-card{
    height: 600px;
}

// detalle
.detail{
    flex-direction: column;
}

.detail-titulo{
    font-size: $textXl;
}

.picture{
    img{
        width: 350px;
        height: auto;
    }
}

.detail-two{
    img{
        width: 70px;
        height: auto;
        padding: 4px;
        justify-items: end;
    }
}

.detail-content{
    margin-left: 100px;
    margin-top: 32px;
    border-color: $colorBorder;
    border-radius: 4px;
    border-style: solid;
    padding: 24px;
    padding-bottom: 8px;
    width: 500px;
}

//carrito
.shop-titulo{
    font-size: $textXl;
}

// checkout
.titulo-checkout{
    font-size: $textXl;
}
.form-container{
    width: 100%;
}

.formulario{
    padding: 0 16px;
}

.campos{
    width: 100%;
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}           

.field{
    width: 100%;
}

// agradecimiento
.congrats{
    @include d-flex(row,center,center)
}

.agradecimiento-img{
    display: none;
}

.feedback-congrats{
    padding: 0;
    align-items: center;
}

    .feedback-congrats{
        p{
            font-size: $textMd;
        }
        button{
            margin: 0;
            padding: 0;
            height: 48px;
            width: 250px;
        }
    }

.text-congrats{
    text-align: center;
    font-size: $textXl;
    }
}   
}

    // MEDIA 600PX 
@media (max-width: 600px){
//header
.titulo-header{
    top: 10%;
    left: 20%;
}

.slogan-header{
    font-size: $textHighlightsm;
    left: 0;
    top: 15%;
}

.boybg-center{
    display: none;
}

.text-and-button{
    flex-direction: column;
    width: 100%;
    top: 70%;
    padding: 0 40px;
    button{
        width: 100%;
    }
}

.text-header{
    text-align: left;
    line-height: 1.2em;
    width: 100%;
}

// ofertas
.sale{
    padding: 75px 0;
    p{
        text-align: center;
        margin-bottom: 4px;
    }
    h2{
        padding: 24px;
        font-size: $textLg;
        margin-bottom: 16px;
        font-weight: $textBold;
        text-align: center;
    }
}

.sale-conteiner{
    display: flex;
    padding-left: 20px;
    width: 100% ;
    overflow-x: auto;
    justify-content: start;
    &::-webkit-scrollbar{
        display: none;
    }
}

.sale-card{
    width: 350px;
    height: 400px;
    margin-right: 20px;
    padding: 0 8px;
    &:hover{
        box-shadow: none;
        transform: translateY(0);
    }
}

// ultima coleccion
    .ultima-coleccion{
        div{
            padding: 0;
        }
    }

// subscripcion
.subscribe{
    flex-direction: column;
    padding: 40px;
    input{
        width: 100%;
    }
    h3{
        font-size: $textMd;
    }
}

#email{
    height: 40px;
    padding: 0 8px;
    margin-bottom: 24px;
}

// productos
.titulo-productos{
    font-size: $textLg;
}

.titulo-filtros{
    font-size: $textMd;
}

.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(6,80vh);
    grid-template-areas:
    "filtros"
    "prod1"
    "prod2"
    "prod3"
    "prod4"
    "prod5"
    "prod6";
}

.product-card{
    height: auto;
}

// detalle
.detail{
    padding: 0 20px;
}

.detail-titulo{
    font-size: $textLg;
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
}

.picture{
    flex-direction: column;
    img{
        width: 100%;
    }
}

.detail-content{
    margin-left: 0;
    margin-top: 32px;
    border-style: none;
    width: 300px;
}

// carrito
.shop-titulo{
    font-size: $textLg;
}

.carrito{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
    .shop{
        img{
            width: 150px;
        margin-right: 20px;
        }
    }

.item{
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    width: 50%;
    margin-right: 0;
}

.text-carrito{
    flex-direction: column;
    line-height: 2em;
}

.resumen{
    position: inherit;
}

.img-cardbs{
    width: 200px;
}

.contenedor-bs{
    max-width: 100%;

}

.tarjetas-shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//checkout
.titulo-checkout{
    font-size: $textLg;
}

// agradecimiento

.congrats{
    height: 100vh;
}

.text-congrats{
    font-size: $textLg;
}

.feedback-congrats{
    p{
        font-size: $textSm;
    }
}

// footer
footer{
    padding: 40px 40px;
}

.footer-content{
    display: flex;
    justify-content: start;
    margin-bottom: 80px;
}

.slogan{
    display: none;
}

.contact-title{
    font-size: $textMd
}

// error 404
.datos-error{
    img{
        width: 100%;
    }
}
.text-error{
    padding: 0 20px;
    text-align: center;
}

.btn-error{
    margin-top: 16px;
}

}


        // MEDIA 320PX

@media (max-width:320px){
// header
.titulo-header{
    left: 9%;
    font-size: $nameAutor;
}

.slogan-header{
    font-size: $textHighlight320;
}

.text-header{
    font-size: $textSm320;
}

// subscripcion
#email{
    width: 100%;
}

// productos
.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(6,80vh);
    grid-template-areas:
    "filtros"
    "prod1"
    "prod2"
    "prod3"
    "prod4"
    "prod5"
    "prod6";
}

.product-card{
    height: 500px;
}

// detalle
.detail-content{
    width: 250px;
}

.picture{
    padding: 0 10px;
    flex-direction: row;
    img{
        width: 150px;
    }
}

.detail-two{
    img{
        width: 50px;
    }
}

.contenedor-imagenes{
    flex-direction: column;
}

// checkout
.button-checkout{
    margin-bottom: 24px;
    flex-direction: column-reverse;
    align-items: center; 
    height: 100px;
    width: 400px;
    }

    
// agradecimiento
.text-congrats{
    font-size: $textMd;
        button{
            width: 200px;
        }
    }
}
