* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    margin: 0;
}

a {
    color: $mainColor;
    text-decoration: none;
    font-family: $mainFont;
    font-weight: 300;
}

h1 {
    color: $mainColor;
    font-family: $titleFont;
    font-weight: $textBold;
    font-size: $textXl;
}

h2 {
    color: $mainColor;
    font-family: $titleFont;
    font-weight: 500;
    font-size: $textLg;
}

h3 {
    color: $darkGray;
    font-family: $mainFont;
    font-weight: 500;
    font-size: $textMd;
}

span {
    font-family: $mainFont;
    font-size: $textSm;
    font-weight: 300;
    color: $darkGray;
}

p {
    font-family: $mainFont;
    font-weight: 300;
    color: $darkGray;
}

.primary-button {
    border-radius: 32px;
    border-color: transparent;
    background-color: $mainColor;
    color: $lightGray;
    height: 40px;
    width: 160px;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
        background-color: $hoverPrimarybutton;
        cursor: pointer;
    }
}

.secondary-button {
    @extend .primary-button;
    border-color: $mainColor;
    background-color: $lightGray;
    color: $mainColor;

    &:hover {
        background-color: $hoverSecondarybutton;
    }
}

.destructive-button {
    @extend .primary-button;
    background-color: $lightGray;
    border-color: $destructiveAction;
    color: $destructiveAction;

    &:hover {
        background-color: $hoverDestructivebutton;
    }
}

form {
    font-family: $mainFont;
    font-size: 300;
    color: $darkGray;
}

label {
    font-family: $mainFont;
    font-size: 300;
    font-weight: 100;
    color: $darkGray;
}