// detalle
.detail{
    display: flex;
    height: 100vh;
}

.detail-titulo{
    @include margin(120px,0px,16px,50px)
}

.picture{
    display: flex;
    padding: 0 80px;
    img{
        width: 500px;
        height: auto;
    }
}

.detail-two{
    img{
        width: 100px;
        height: auto;
        padding: 4px;
        justify-items: end;
    }
}

.text-detail{
    color: $darkGray;
    font-size: $textMd;
    font-family: $mainFont;
}

.detail-content{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    div{
        margin-bottom: 16px;

    }
    p{
        margin: 0;
    }
}
// detalle