// nav
nav{
    background-color: $navBg;
    backdrop-filter: blur(80px);
    ul{
        li{
            margin: 20px;
        }
    }
    img{
        width: 120px;
    }
}

.navbar-toggler{
    border:none;
    &:focus{
        box-shadow: none;
    }
}

.custom-link{
    color: $mainColor;
    font-weight: 100;
    &:hover{
        color: $hoverLink;
        }
}
// nav