@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@300;400;500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@font-face {
  font-family: 'Le Murmure';
  src: url('../fonts/LeMurmure-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_nav";
@import "_index"; 
@import "_productos"; 
@import "_detalle";
@import "_carrito";
@import "_checkout";
@import "_agradecimiento";  
@import "_footer";
@import "_breakpoints";